@model Model.EF.WorkPlace

@{
    ViewBag.Title = "Sửa chức vụ " + Model.wp_name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title <br />
            <br />
            <a class="btn btn-danger" href="/Admin/WorkPlacesAdmin/Index"><i class="fa fa-arrow-circle-left"></i>&nbsp;Trở về</a>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.wp_id)

                    <div class="form-group">
                        <b>Chức vụ</b>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.wp_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.wp_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</section>

