@model Model.EF.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Employer/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_addpress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_addpress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_amout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_amout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_payend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_payend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_paystart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_paystart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_datedeline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_datedeline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_describe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_right)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_right)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_option)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_option)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_dateupdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_dateupdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_bin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_bin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_view)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_view)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exp.exp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exp.exp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPlace.wp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlace.wp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.job_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
