@model Model.EF.News
@using Model.EF;
@{
    DataQuickJobEntities db = new DataQuickJobEntities();
    ViewBag.Title = Model.news_title;
    Layout = "~/Views/Shared/_LayoutQuickNews.cshtml";

    List<Category> categories = db.Categorys.OrderByDescending(n=>n.cate_name).ToList();
    var i = 1;
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="index.html">QuickJobNews</a> / @Model.news_title 
    </div>
</nav>
<style>
    img{
        width: 100%;
    }
</style>
<div class="w3l-searchblock w3l-homeblock1 py-5">
    <div class="container py-lg-4 py-md-3">
        <!-- block -->
        <div class="row">
            <div class="col-lg-8 most-recent">
                <h3 class="section-title-left">@Model.news_title</h3>

                <div class="row">
                    <div class="col-lg-12 col-md-6 item">
                        <b><i class="fa fa-user">&nbsp;</i>Ứng viên: </b>@Model.User.user_name <br /><b><i class="fa fa-clock">&nbsp;</i>Đăng lúc:</b> @Model.news_datecreate
                        <hr />
                        @Html.Raw(Model.news_contents)
                    </div>
                </div>
                <!-- //pagination -->
            </div>
            <div class="col-lg-4 trending mt-lg-0 mt-5 mb-lg-5">
                <div class="pos-sticky">
                    <h3 class="section-title-left">Việc làm tốt nhất </h3>

                    @foreach (var item in categories)
                    {

                        <div class="grids5-info">
                            <h4>@i.</h4>
                            <div class="blog-info">
                                <a href="#blog-single" class="blog-desc1">
                                    Việc làm @item.cate_name
                                </a>
                            </div>
                        </div>
                        i++;
                    }
                </div>
            </div>
        </div>
    </div>
</div>
