@using Model.EF;
@using Common
@using QuickJob.Function;
@{ 
    DataQuickJobEntities db = new DataQuickJobEntities();
    var id = new FunctionController();

    //Xóa cv khi không có email và sdt
    if (id.Cookie() != null)
    {
        var idus = id.CookieID();
        List<Cv> cVs = db.Cvs.Where(n => n.user_id == idus.user_id && n.cv_email == null && n.cv_phone == null).ToList();
        foreach (var item in cVs)
        {
            var cv = db.Cvs.Find(item.cv_id);
            db.Cvs.Remove(cv);

            foreach (var item2 in db.ItemCvs.Where(n => n.ic_fake == item.cv_fakeid))
            {
                var ic = db.ItemCvs.Find(item2.ic_id);
                db.ItemCvs.Remove(ic);
            }
            db.SaveChanges();
        }
    }
}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>@ViewBag.title</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" />
    <script src="~/Content/Semantic-UI-CSS-master/semantic.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>

    <link href="~/Content/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Layout/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Layout/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Layout/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Layout/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/Content/Layout/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/Content/Layout/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link href="~/Content/Layout/assets/css/theme.css" rel="stylesheet" />
    <style>
        html {
            font-size: 16px;
        }
    </style>
    <script src="~/Content/Layout/assets/js/theme.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        @Html.Action("Menu", "View")

        @RenderBody()


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 bg-primary">

            <div class="container">
                <div class="row justify-content-between pb-2 pt-8">
                    <div class="col-12 col-lg-auto mb-5 mb-lg-0">
                        <a class="d-flex align-items-center fw-semi-bold fs-3 text-white" href="#"> QuickJob.com</a>
                        <p class="my-3 text-100 fw-light">Hệ thống tìm việc làm và tạo CV<br />nhanh nhất.</p>
                    </div>
                    <div class="col-auto mb-3">
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Giới thiệu</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Tạo CV</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Tất cả việc làm</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Tìm công ty</a></li>
                        </ul>
                    </div>
                    <div class="col-auto mb-3">
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Nâng cấp tài khoản</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Nhà tuyển dụng</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">QuickChat</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">QuickJobNews</a></li>
                        </ul>
                    </div>
                    <div class="col-auto mb-4 d-flex align-items-end">
                        <ul class="list-unstyled list-inline mb-0">
                            <li class="list-inline-item me-3">
                                <a class="text-decoration-none" href="#!">
                                    <svg class="bi bi-facebook" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 16 16">
                                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"> </path>
                                    </svg>
                                </a>
                            </li>
                            <li class="list-inline-item me-3">
                                <a href="#!">
                                    <svg class="bi bi-twitter" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 16 16">
                                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                                    </svg>
                                </a>
                            </li>
                            <li class="list-inline-item me-3">
                                <a href="#!">
                                    <svg class="bi bi-instagram" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 16 16">
                                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"> </path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mb-2">
                        <p class="mb-0 fs--1 my-2 text-100">
                            &copy; Bản quyền thuộc&nbsp;
                            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2b2b2b" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                            </svg>&nbsp;by&nbsp;<a class="text-100" href="https://themewagon.com/" target="_blank">huynhminhtan4019@gmail.com </a>
                        </p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <link href="~/Content/Call.css" rel="stylesheet" />
        <div class="hotline-phone-ring-wrap" data-bs-toggle="modal" data-bs-target="#key">
            <div class="hotline-phone-ring">
                <div class="hotline-phone-ring-circle"></div>
                <div class="hotline-phone-ring-circle-fill"></div>
                <div class="hotline-phone-ring-img-circle">
                    <a class="pps-btn-img">
                        <i class="fa fa-download text-white"></i>
                    </a>
                </div>
            </div>
            <div class="hotline-bar">
                <a>
                    <span class="text-hotline text-white">Tải nhanh</span>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="key" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tải nhanh CV</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            Tải nhanh CV về máy tính. Nhập key và mật khẩu có sẵn để tải nhanh.
                            *Để tiết kiệm thời gian, QuickJob giúp bạn tải nhanh CV của mình mà không cần phải đăng nhập và thao tác từ các phần lưu trữ khác.
                        </div>
                        <form class="ui form" method="post" action="@Url.Action("ModalKey","Cvs")">
                            @Html.AntiForgeryToken()
                            <div class="field">
                                <b>Nhập key</b> <br />
                                <input type="text" name="key" placeholder="Key">
                                <p class="text-danger">Key của cv, có sẵn sau khi tạo Cv. Hãy xem từ Quản lý CV cá nhân.</p>
                            </div>
                            <div class="field">
                                <b>Nhập mật khẩu</b><br />
                                <input type="text" name="pass" placeholder="Mật khẩu">
                                <p class="text-danger">Mật khẩu chỉ định cho key, bạn phải cài đặt sẵn để sử dụng được chức năng này.</p>
                            </div>
                            <button class="ui button red" type="submit"><i class="fa fa-download">&nbsp;</i>Tải CV</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <style>
                            .ui.form .field {
                                margin: 0px 0px 30px 40px;
                            }
                        </style>
                        <link href="~/Content/Login.css" rel="stylesheet" />
                        <section class="py-0" id="home">
                            <div class="container" style="max-width: 1200px">
                                <div class="row align-items-center min-vh-md-75 mt-7" style="align-items: inherit !important;">
                                    <div class="col-lg-4">
                                        <div class="box w-100" style="height: 600px">
                                            <div id="header">
                                                <div id="cont-lock"><i class="material-icons lock" style="font-size: 20px">Đăng nhập sử dụng</i></div>
                                                <button class="ui facebook button w-100" style="border-radius: 0px 0px 0px 0px">
                                                    <i class="facebook icon"></i>
                                                    Đăng nhập bằng facebook
                                                </button>
                                            </div>
                                            <form action="@Url.Action("LoginModal","Users")" method="post" class="ui form">
                                                <P>Hoặc sử dụng Email</P>
                                                <div class="group field">
                                                    <input class="inputMaterial" style="width: 88%; height: 60px" type="text" name="email">
                                                    <span class="highlight"></span>
                                                    <span class="bar" style="width: 88%;"></span>
                                                    <label style="color: #009688">Email</label>
                                                </div>
                                                <div class="group field">
                                                    <input class="inputMaterial" style="width: 88%; height: 60px" type="password" name="pass">
                                                    <span class="highlight"></span>
                                                    <span class="bar" style="width: 88%"></span>
                                                    <label style="color: #009688">Mật khẩu</label>
                                                    <a href="#" style="font-size: 14px; color: black">Quên mật khẩu?</a>
                                                </div>
                                                <button id="" class="submit button">Đăng nhập</button>

                                                <div class="ui error message"></div>
                                                <p class="text-danger">@ViewBag.Check</p>
                                                <p class="mt-5">
                                                    Bạn không đăng nhập được tài khoản?
                                                    Vui lòng gọi tới số <b>0924404019</b> (giờ hành chính) để được hỗ trợ.
                                                </p>
                                            </form>
                                            <div id="footer-box"><p class="footer-text mt-3">Bạn chưa có tài khoản ?<span class="sign-up" onclick="window.location.href='/Users/SignUp'"> Đăng ký ngay</span></p></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card shadow" style="margin-top: 40px">
                                            <div style="padding: 10px">
                                                <h3>Hướng dẫn sử dụng QuickJob</h3>
                                                <ol>
                                                    <li>Đăng nhập (Đăng ký tài khoản mới nếu bạn chưa từng sử dụng QuickJob tại đây).</li>
                                                    <li>Viết CV trực tiếp trên QuickJob.</li>
                                                    <li>Nộp CV vào công việc.</li>
                                                    <li>Chờ tin xét duyệt.</li>
                                                    <li>Chờ tin liên hệ từ nhà tuyển dụng.</li>
                                                    <li>Đi làm sau khi ứng tuyển thành công.</li>
                                                </ol>
                                                <iframe width="100%" height="370" src="https://www.youtube.com/embed/cLzNaHNPgZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <script>
                            $('.ui.form')
                                .form({
                                    inline: true,
                                    on: 'blur',
                                    fields: {
                                        email: {
                                            identifier: 'email',
                                            rules: [
                                                {
                                                    type: 'empty',
                                                    prompt: 'Email không bỏ trống'
                                                },
                                                {
                                                    type: 'email',
                                                    prompt: 'Email không hợp lệ'
                                                }
                                            ]
                                        },
                                        pass: {
                                            identifier: 'pass',
                                            rules: [
                                                {
                                                    type: 'empty',
                                                    prompt: 'Mật khẩu không bỏ trống'
                                                }
                                            ]
                                        }
                                    }
                                })
                                ;
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

    <script src="~/Content/Layout/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>

    <script src="~/Content/Layout/vendors/popperjs/popper.min.js"></script>
    <script src="~/Content/Layout/vendors/bootstrap/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</body>

</html>