@model IEnumerable<Model.EF.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.news_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cate_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_datecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_dateupdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_bin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_view)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.news_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_contents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cate_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_genres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_datecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_dateupdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_option)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_bin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_view)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.news_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.news_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.news_id })
        </td>
    </tr>
}

</table>
